<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tauri App</title>
    <script type="module" src="/test/main_test.js" defer></script>
  </head>

  <body>
    <main class="container">
      <h1>Welcome to Tauri</h1>
      <form class="row" id="data-form">
        <div class="flex-row">
          <label for="Nombre">Nombre: </label>
          <input id="port-name" placeholder="Nombre del puerto" readonly/>
          
          <label for="Puerto"> Puerto: </label>
          <input id="ip-address" placeholder="IP" readonly/>
          
          <label for="mask">Mask:</label>
          <input id="subnet-mask" placeholder="Máscara" readonly/>
          
          <label for="vlan">Vlan: </label>
          <input id="vlan" placeholder="VLAN" readonly/>
          
          <button type="submit">Buscar</button>
        </div>
      </form>

      <button id="cambiar-vlan-button">Cambiar VLAN</button> <!-- Botón para cambiar VLAN -->

      <div class="loader">
        <div class="circle">
          <div class="dot"></div>
          <div class="outline"></div>
        </div>
        <div class="circle">
          <div class="dot"></div>
          <div class="outline"></div>
        </div>
        <div class="circle">
          <div class="dot"></div>
          <div class="outline"></div>
        </div>
        <div class="circle">
          <div class="dot"></div>
          <div class="outline"></div>
        </div>
      </div>

      <p id="response-msg"></p>
    </main>
  </body>
</html>
