<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tauri App</title>
    <script type="module" src="/test/main_test.js" defer></script>
  </head>

  <body>
    <div class="dashboard">
      <div class="sidebar">
        <div class="sidebar-item">
          <i class="icon-home"></i>
          <span class="item-name">Inicio</span>
        </div>
        <div class="sidebar-item">
          <i class="icon-settings"></i>
          <span class="item-name">Configuración</span>
        </div>
        <div class="sidebar-item">
          <i class="icon-info"></i>
          <span class="item-name">Acerca de</span>
        </div>
      </div>

      <section class="content">
        <main class="container">
      <form class="row" id="data-form">
        <div id="form-original" class="card">
          <h2 class="titulo">Información de los Puertos de Red</h2>
          <!-- Encabezado de la tabla -->
          <div class="fila encabezado">
            <div class="col">Nombre</div>
            <div class="col">IP</div>
            <div class="col">Máscara</div>
            <div class="col">VLAN</div>
            <div class="col">Estado</div>
          </div>

          <div id="contenedor-entradas" class="tabla-puertos">
            <!-- Aquí JS insertará las filas -->
          </div>
          <button type="submit" class="btn-buscar">Buscar</button>
          <p id="response-msg"></p>
        </div>
        <!-- Segunda card: formulario de edición -->
        <div id="card-edicion" class="card oculto">
          <h2>Editar Puerto de Red</h2>
          <form id="form-edicion" class="input-contai">

            <input type="text" id="edit-nombre" readonly>
            <label>Nombre del Puerto</label>
            <div class="underline"></div>

            <label>Dirección IP</label>
            <input type="text" id="edit-ip">

            <label>Máscara de Subred</label>
            <input type="text" id="edit-mask">

            <label>VLAN</label>
            <input type="text" id="edit-vlan">

            <label>Estado</label>
            <input type="text" id="edit-status" readonly>

            <button type="button" onclick="guardarCambios()">Aplicar Cambios</button>
          </form>
        </div>
      </section>

    </div>
      </form>
      <div class="loader">
        <div class="circle">
          <div class="dot"></div>
          <div class="outline"></div>
        </div>
        <div class="circle">
          <div class="dot"></div>
          <div class="outline"></div>
        </div>
        <div class="circle">
          <div class="dot"></div>
          <div class="outline"></div>
        </div>
        <div class="circle">
          <div class="dot"></div>
          <div class="outline"></div>
        </div>
      </div>
      <p id="response-msg"></p>
    </main>
  </body>
</html>
