<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tauri App</title>
    <script type="module" src="/test/main_test.js" defer></script>
  </head>

  <body>
    <div class="dashboard">
      <nav class="sidebar">
        <ul>  
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Perfil</a></li>
          <li><a href="#">Configuración</a></li>
        </ul>
      </nav>
      <section class="content">
        <main class="container">
      <form class="row" id="data-form">
        <div id="form-original" class="card flex-row">
          <label for="Nombre">Nombre: </label>
          <input id="port-name" placeholder="Nombre del puerto" readonly/>
          
          <label for="Puerto"> Puerto: </label>
          <input id="ip-address" placeholder="IP" readonly/>
          
          <label for="mask">Mask:</label>
          <input id="subnet-mask" placeholder="Máscara" readonly/>
          
          <label for="vlan">VLAN Id: </label>
          <input id="vlan" placeholder="VLAN" readonly/>

          <button type="submit">Buscar</button>
        </div>
        <div id="form-original" class="card flex-row">
          <label for="vlan-input">Nuevo VLAN ID: </label>
          <input id="vlan-input" placeholder="Ingrese nuevo VLAN ID" />
          <button id="cambiar-vlan-button">Cambiar VLAN</button>
          <hr>
          <label for="ip-input">Nuevo Ip:</label>
          <input id="ip-input" placeholder="0.0.0.0" />
          <button id="cambiar-ip-button">Cambiar IP </button>

          <label for="input"></label>
        </div>
      </section>
    </div>

      </form>
      <div class="loader">
        <div class="circle">
          <div class="dot"></div>
          <div class="outline"></div>
        </div>
        <div class="circle">
          <div class="dot"></div>
          <div class="outline"></div>
        </div>
        <div class="circle">
          <div class="dot"></div>
          <div class="outline"></div>
        </div>
        <div class="circle">
          <div class="dot"></div>
          <div class="outline"></div>
        </div>
      </div>
      <p id="response-msg"></p>
    </main>
  </body>
</html>
